/* 基础图标样式 - 所有图标共用 */
.all {
    background-image: url('../images/精灵图.PNG'); 
    background-repeat: no-repeat;
    display: inline-block; /* 让图标可以和文字在一行 */
    overflow: hidden; /* 防止意外显示其他部分 */
}
/* 手机 */
.iron-phone {
	background-position: -159px -69px;
	width: 13px;
	height: 18px;
}
/* 搜索 */
.icon-search {
    background-position: -79px -69px;
    width: 18px;
	height: 18px;
}
/* 购物车 */
.iron-cart {
	background-position:-119px -69px;
    width: 24px;
	height: 24px;
}
/* 小箭头 */
.iron-small-arrow{
    background-position: 0 -109px;
	width: 7px;
	height: 14px;
}
/* 左箭头 */
.iron-left-arrow{
    background-position: 0 -70px;
	width: 13px;
	height: 23px;
}
/* 右箭头 */
.iron-right-arrow{
    background-position: -40px -70px;
	width: 13px;
	height: 23px;
}
/* 空心 */
.iron-empty-heart{
    background-position: -120px -110px;
	width: 15px;
	height: 14px;
}
/* 红心 */
.iron-red-heart{
    background-position: -240px -110px;
	width: 15px;
	height: 13px;
}
/* 眼睛 */
.iron-eye{
    background-position:  -159px -110px;
	width: 17px;
	height: 13px;
}
/* 评论 */
.iron-chat{
    background-position: -199px -109px;
	width: 17px;
	height: 16px;
}
/* 在线客服 */
.iron-service{
    background-position: -250px -70px;
	width: 30px;
	height: 28px;
}
/* 问题反馈 */
.iron-problem{
    background-position: -350px -70px;
	width: 29px;
	height: 29px;
}
/* 公众号 */
.iron-wechat{
    background-position: -249px -14px;
	width: 37px;
	height: 30px;
}
/* 微博 */
.iron-weibo{
    background-position: -349px -14px;
	width: 37px;
	height: 30px;
}
/* 包装盒 */
.icon-box {
    background-position: 0 0;
	width: 58px;
	height: 58px;
}
/* 货车 */
.icon-truck {
    background-position: -130px 0;
	width: 58px;
	height: 58px;
}
/* 点赞 */
.icon-like {
    background-position:-64px 0;
	width: 58px;
	height: 58px;
}
