li, ul {
	list-style: none;
}
a{
  text-decoration: none; 
}
/* 顶部导航栏 */
.header ul{
  padding: 0;
  margin:0 auto;
  width:100%;
  height: 60px;
  background-color: #515151;
  text-align: right;
}
.header ul li{
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 60px;
  padding: 0 15px; 
}
.header ul li:not(:last-child)::after{
  content: '|';
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.header a {
  color: white;
}
/* 正文导航栏 */
.nav {
  width: 100%;
  height: 100px;
  line-height: 100px; /* 垂直居中 */
  background-color: white;
}
.nav ul{
  padding: 0;
  width:auto;
  height: 100px;
  background-color: white;
  display: inline-block;
  vertical-align: middle; /* 让ul和img垂直居中对齐 */
}
.nav ul li{
  display: inline-block;
  padding: 0 30px;
}
.nav a {
  color: rgb(55, 55, 55);
  font-size: 20px;
}
.nav .logo {
  vertical-align: middle; /* 给logo加上垂直居中 */
  margin-right: 20px; /* logo和导航之间的间距 */
  margin-left: 50px; /* logo的左边距 */
  height: 60px;
}
.search-form{
  position: relative;
  display: inline-block;
  vertical-align: middle; /* 和旁边的图标垂直对齐 */

}
.search{
  padding-left: 35px; /* 为内部图标留出空间 */
  padding-right: 15px;
  width:150px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
/* 竖型导航栏加图片背景 */
.banner{
  padding: 0;
  margin: 0 auto;
  width: 1240px;
  height: 500px;
  background-image: url(../images/banner_1.png);
  background-size: cover;
  position: relative;
}
.banner ul{
  padding: 0;
  margin: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(54, 54, 54, 0.90);
}
.banner ul li{
  padding-top: 18px;
  padding-left: 20px;
  position: relative;
  height: 50px;
  box-sizing: border-box;  /* 确保padding包含在高度内 */
}
.banner li:hover {
	background: rgb(96, 207, 188) ;
}
.banner a{
  color: white;
  font-size: 18px;
}
.banner span{
  font-size: 15px;
}
.banner .menu li::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-position: 0 -109px;
	width: 7px;
	height: 14px;
  background-image: url('../images/精灵图.PNG');
}

/* 左箭头按钮 */
.banner .prev {
  position: absolute;
  top: 50%; /* 垂直居中 */
  left:260px;
  background-image: url('../images/精灵图.PNG'); 
  background-position: 0 -70px;
	width: 13px;
	height: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
}

/* 右箭头按钮 */
.banner .next {
  position: absolute;
  top: 50%; /* 垂直居中 */
  right: 20px; 
  background-image: url('../images/精灵图.PNG');
  background-position: -40px -70px;
  width: 13px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
}

/* 底部圆点区域 */
.banner ol {
  position: absolute; 
  bottom: 10px;
  right:450px;
  display: flex; /* 横向排列 */
  gap: 20px; /* 圆点间距 */

}

/* 每个圆点 */
.banner ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* 当前圆点状态 */
.banner ol li.current {
  background-color: #f50000; 
}

/* 新鲜好物 */
.new-goods{
  width: 1240px;
  margin: 0 auto;
}

.new-goods .title {
  position: relative; 
  height: 100px;
  line-height: 60px; /* 垂直居中标题内容 */
  margin-bottom: 10px;
}

.new-goods .title h2 {
  font-weight: normal;
  font-size: 30px;
  display: inline-block; /* 让span跟随标题在一行 */
}

.new-goods .title h2 span {
  font-size: 14px;
  color: #999;
  margin-left: 15px;
}

.new-goods .title a {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #999;
}

.new-goods .intro{
  padding: auto;
  width: 1240px;
  height: 410px;
  overflow: hidden;
}

.new-goods .intro ul{
  width: 1240px;
  height: 410px;
  padding: 0;
}

.new-goods .intro ul li{
  width: 300px;
  height: 405px;
  float: left;
  margin: 0 3px;
  background-color: rgb(235, 247, 235);
  box-sizing: border-box;
  text-align: center;
}

.new-goods .intro img{
  width: 300px;
  height: 300px;
}
.new-goods .intro h3{
  color: black;
  font-weight: normal;/*去除h3元素自动加粗效果*/
}

.new-goods .intro span{
  color: rgb(233, 121, 113);
}

.new-goods .intro p{
  border: 3px solid rgb(150, 206, 150)yellow;
  border-radius: 5px;
  top: 0;
  left: 0;
  position: relative;
}

/* 生鲜 */
.fresh_goods{
  width: 1240px;
  margin: 0 auto;
}

.fresh_goods .title{
  height: 100px;
  position: relative;
}

.fresh_goods .title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: normal
}

.fresh_goods .title ul{
  padding: 0;
  margin: 0 30px;
  display: inline-block;
  position: absolute;
  right: 80px;
  line-height: 100px;
}

.fresh_goods .title ul li{
  display: inline-block;
  margin-right: 15px;
}

.fresh_goods .title ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #464545;
  }

.fresh_goods .title .link {
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 100px;
  font-size: 14px;
  color: #999;
}

.fresh_goods .title .link a{
  color: #999;
}

.fresh_goods .intro{
  width: 1240px;
  height: 610px;
  overflow: hidden;
}

.fresh_goods .intro > a{
  float: left;
}

.fresh_goods .intro > a img{
  width: 240px;
  height: 610px;
}

.fresh_goods .right{
  float: left;
}

.fresh_goods .right ul{
  padding: 0;
  margin: 0;
  width: 1000px;
  height: 610px;
}

.fresh_goods .right ul li{
  box-sizing: border-box;
  margin-left: 30px;
  width: 220px;
  height: 305px;
  float: left;
}

.fresh_goods .right img{
  width: 220px;
  height: 210px;
  display: block; 
}

.fresh_goods .right ul li p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.fresh_goods .right ul li span {
  color: rgb(233, 121, 113);
}
/* 专题块 */
.topic{
  margin: 0 auto;
  width: 1240px;
}

.topic .title{
  position: relative;
  line-height: 60px;
  width: 1240px;
  height: 100px;
}

.topic .title h2{
  font-weight: normal;
  font-size: 30px;
  display: inline-block;
  color: #515151;
}

.topic .title a{
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 14px;
  color: #999;
}

.topic .list ul{
  padding: 0;
  margin: 0;
}

.topic .list ul li{
  display: inline-block;
  margin-right: 3px;
}

.topic .list img{
  width: 405px;
  height: 230px;
}

.topic .list .box{
  width: 405px;
  height: 60px;
  margin-top: -65px;
  position: relative;
}

.topic .list .box h4{
  padding: 0;
  margin: 0;
  color: white;
}

.topic .list .box p{
  padding: 0;
  margin: 0;
  color: #999;
}

.topic .list .box span{
  position: absolute;
  right: 0;
  top: 50%;
  background: white;
  color: brown;
}

.topic .list .bottom{
  width: 405px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.topic .list .bottom .item {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: normal; /* 避免继承父的行高 */
}

.topic .list .bottom span {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
/* 服务块 */
.service {
    width: 1240px;
    margin: 0 auto;
}

.service > div {
    display: inline-block;
    vertical-align: top;
    width: 24%; /* 根据需要调整 */
    text-align: center;
}

.service h4{
  font-weight: normal;
  color: rgb(180, 180, 180);
}

.service ul li{
  width: 100px;
  height: 100px;
  border:1px solid #eee;
  display: inline-block;
  text-align: center; /* 水平居中 */
  vertical-align: top;
}

.service ul li a{
    color: #999;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}

.service ul li a:hover{
  color: rgb(96, 207, 188);
}

.service ul li p{
  padding: 0;
  margin: 0;
}

.service .service.app{
  position: relative;
}

.service.app .qr {
    padding: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    display: inline-block;
    float: left;
}

.service.app .info {
  width: 180px;
  float: left;
  font-size: 14px;
  color: #666;
}


.service.app .info a {
  color: #999;
  font-size: 13px;
}

.service.app::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    width: 2px;
    height: 180px;
    background-color: #eee;
}

.service .service.hotline .time{
  color: #999;
}

/* 底部版权声明 */
.footer {
    width: 1240px;
    margin: 0 auto;
    text-align: center;
    background-color: #333;
}

.fm-item {
    float: left;
    width: 33.333%;
    text-align: center;
    margin: 20px 0;
}

.fm-item span.all {
    width: 60px;
    height: 60px;
}

.fm-item p {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}

.footer .line {
    width: 100%;
    height: 1px;
    background: #eee;
}

.footer .copyright {
    color: #999;
    font-size: 14px;
    line-height: 24px;
}