li, ul {
	list-style: none;
}
a{
  text-decoration: none; 
}
.header ul{
  padding: 0;
  margin:0 auto;
  width:100%;
  height: 60px;
  background-color: #515151;
  text-align: right;
}
.header ul li{
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 60px;
  padding: 0 15px; 
}
.header ul li:not(:last-child)::after{
  content: '|';
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.header a {
  color: white;
}
.nav {
  width: 100%;
  height: 100px;
  line-height: 100px; /* 垂直居中 */
  background-color: white;
}
.nav ul{
  padding: 0;
  width:auto;
  height: 100px;
  background-color: white;
  display: inline-block;
  vertical-align: middle; /* 让ul和img垂直居中对齐 */
}
.nav ul li{
  display: inline-block;
  padding: 0 30px;
}
.nav a {
  color: rgb(55, 55, 55);
  font-size: 20px;
}
.nav .logo {
  vertical-align: middle; /* 给logo加上垂直居中 */
  margin-right: 20px; /* logo和导航之间的间距 */
  margin-left: 50px; /* logo的左边距 */
  height: 60px;
}
.search-form{
  position: relative;
  display: inline-block;
  vertical-align: middle; /* 和旁边的图标垂直对齐 */

}
.search{
  padding-left: 35px; /* 为内部图标留出空间 */
  padding-right: 15px;
  width:150px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.banner{
  padding: 0;
  margin: 0 auto;
  width: 1240px;
  height: 500px;
  background-image: url(../images/banner_1.png);
  background-size: cover;
  position: relative;
}
.banner ul{
  padding: 0;
  margin: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(54, 54, 54, 0.90);
}
.banner ul li{
  padding-top: 18px;
  padding-left: 20px;
  position: relative;
  height: 50px;
  box-sizing: border-box;  /* 确保padding包含在高度内 */
}
.banner li:hover {
	background: rgb(96, 207, 188) ;
}
.banner a{
  color: white;
  font-size: 18px;
}
.banner span{
  font-size: 15px;
}
.banner .menu li::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-position: 0 -109px;
	width: 7px;
	height: 14px;
  background-image: url('../images/精灵图.PNG');
}

/* 左箭头按钮 */
.banner .prev {
  position: absolute;
  top: 50%; /* 垂直居中 */
  left:260px;
  background-image: url('../images/精灵图.PNG'); 
  background-position: 0 -70px;
	width: 13px;
	height: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
}

/* 右箭头按钮 */
.banner .next {
  position: absolute;
  top: 50%; /* 垂直居中 */
  right: 20px; 
  background-image: url('../images/精灵图.PNG');
  background-position: -40px -70px;
  width: 13px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  background-origin: content-box;
}

/* 底部圆点区域 */
.banner ol {
  position: absolute; 
  bottom: 10px;
  right:450px;
  display: flex; /* 横向排列 */
  gap: 20px; /* 圆点间距 */

}

/* 每个圆点 */
.banner ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* 当前圆点状态 */
.banner ol li.current {
  background-color: #f50000; 
}

.new-goods{
  width: 1240px;
  margin: 0 auto;
}

.new-goods .title {
  position: relative; 
  height: 100px;
  line-height: 60px; /* 垂直居中标题内容 */
  margin-bottom: 10px;
}

.new-goods .title h2 {
  font-size: 30px;
  display: inline-block; /* 让span跟随标题在一行 */
}

.new-goods .title h2 span {
  font-size: 14px;
  color: #999;
  margin-left: 15px;
}

.new-goods .title a {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #999;
}

.new-goods .intro{
  padding: auto;
  width: 1240px;
  height: 410px;
  overflow: hidden;
}

.new-goods .intro ul{
  width: 1240px;
  height: 410px;
  padding: 0;
}

.new-goods .intro ul li{
  width: 300px;
  height: 405px;
  float: left;
  margin: 0 3px;
  background-color: rgb(235, 247, 235);
  box-sizing: border-box;
  text-align: center;
}

.new-goods .intro img{
  width: 300px;
  height: 300px;
}
.new-goods .intro h3{
  color: black;
  font-weight: normal;/*去除h3元素自动加粗效果*/
}

.new-goods .intro span{
  color: rgb(233, 121, 113);
}

.new-goods .intro p{
  border: 3px solid rgb(150, 206, 150)yellow;
  border-radius: 5px;
  top: 0;
  left: 0;
  position: relative;
}

.fresh_goods{
  width: 1240px;
  margin: 0 auto;
}

.fresh_goods .title{
  height: 100px;
  position: relative;
}

.fresh_goods .title h2 {
  display: inline-block;
  font-size: 30px;
}

.fresh_goods .title ul{
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  right: 80px;
  line-height: 100px;
}

.fresh_goods .title ul li{
  display: inline-block;
  margin-right: 15px;
}

.fresh_goods .title ul li a{
    font-size: 14px;
    text-decoration: none;
  }

.fresh_goods .title .link {
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 100px;
  font-size: 14px;
  color: #999;
  /* text-decoration: none; */
}

.fresh_goods .intro{
  width: 1240px;
  height: 610px;
  overflow: hidden;
}

.fresh_goods .intro > a{
  float: left;
}

.fresh_goods .intro > a img{
  width: 240px;
  height: 610px;
}

.fresh_goods .right{
  float: left;
}

.fresh_goods .right ul{
  padding: 0;
  margin: 0;
  width: 1000px;
  height: 610px;
}

.fresh_goods .right ul li{
  box-sizing: border-box;
  text-align: center;
  width: 230px;
  height: 305px;
  float: left;
}

.fresh_goods .right img{
  width: 230px;
  height: 210px;
  display: block; 
}

.fresh_goods .right ul li p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.fresh_goods .right ul li span {
  color: rgb(233, 121, 113);
}
